# Auto detect text files and perform LF normalization
* text=auto

# Go files
*.go text eol=lf
go.mod text eol=lf
go.sum text eol=lf

# Docker files
Dockerfile* text eol=lf

# Shell scripts
*.sh text eol=lf
Makefile text eol=lf

# Yaml files
*.yaml text eol=lf
*.yml text eol=lf

# Documentation
*.md text eol=lf
LICENSE text eol=lf

# Web files
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
